@tailwind base;
@tailwind components;
@tailwind utilities;
.intl-tel-input .flag-container .arrow {
    /*border:
    1px solid red!important;*/
    /*margin-bottom: 20px!important;*/
    /*position: absolute;*/
    display: none !important;
}

.intl-tel-input .selected-dial-code{
    color: white !important;
    padding-left:34px !important;
}

.intl-tel-input .flag-container .iti-flag {
    position: absolute;
    left: 20%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

.intl-tel-input input[type=tel]{
     width:122%
}

.intl-tel-input input[type=tel]::placeholder{
    font-size: small;
}

/* Viewports between 320px and 480px wide */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   .intl-tel-input input[type=tel]{
     width:100%
    }
}

.otpContainer {
        margin: 5% auto;
}

.otpInput {
        margin: 0 1rem;
        text-align: center;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.3);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}